{
  "printWidth": 120,
  "parser": "typescript",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
